.card_type_small {
    max-height: 245px;
}

@media screen and (min-width: 360px) {
    .card_type_small {
        height: 225px;
    }
}

@media screen and (min-width: 768px) {
    .card_type_small {
        height: 230px;
        padding: 10px 5px 70px 5px;
    }
}

@media screen and (min-width: 1024px) {
    .card_type_small {
        height: 230px;
        padding: 10px;
    }
}

@media screen and (min-width: 1300px) {
    .card_type_small {
        height: 180px;
    }
}