.newlyweds_background {
    display: grid;
    gap: 70px;
}

@media screen and (min-width: 1024px) {
    .newlyweds_background {
        display: flex;
        min-height: 480px;
        justify-content: space-between;
        max-width: 1111px;
        margin: auto;
    }
}