.table-section {
    display: grid;
    margin: 0 auto;
    margin-bottom: 50px;
    gap: 30px;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 920px) {
    .table-section {
        margin-top: 50px;
    }
}