.card {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 16px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 360px;
    width: 90%;
}

@media screen and (min-width: 360px) {
    .card {
        height: 310px;
    }
}

@media screen and (min-width: 480px) {
    .card {
        height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        height: 290px;
        width: 45%;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        height: 320px;
        width: 30%;
    }
}

@media screen and (min-width: 1300px) {
    .card {
        height: 250px;
        width: 30%;
    }
}