.table-item__indicstor {
    width: 16px;
    height: 16px;
    background: #8890A5;
    position: absolute;
    left: calc(50% - 8px);
    top: -8px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .table-item__indicstor {
        width: 20px;
        height: 20px;
        top: 12px;
        left: calc(100% + 5px);
    }
}

@media screen and (min-width: 1024px) {
    .table-item__indicstor {
        width: 20px;
        height: 20px;
        top: 12px;
        left: calc(100% + 5px);
    }
}