.table-item__card {
    background-color: #E7F0F9;
    border-radius: 6px;
    padding: 14px;
    width: 80%;
    max-width: 440px;
    margin: auto;
    text-align: start;
    display: grid;
    gap: 10px;
}

@media screen and (min-width: 400px) {
    .table-item__card {
        min-width: 350px;
    }
}

@media screen and (min-width: 768px) {
    .table-item__card {
        min-width: 265px;
    }
}

@media screen and (min-width: 1024px) {
    .table-item__card {
        min-width: 380px;
    }
}