.maps-block__text {
    text-align: start;
    display: grid;
    gap: 8px;
}

@media screen and (min-width: 920px) {
    .maps-block__text {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}