.maps-section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: grid;
    gap: 30px;
    position: relative;
}

@media screen and (min-width: 920px) {
    .maps-section {
        gap: 50px;
    }
}